<h1>Notes</h1>

<% if @tag %>
    <p>Tag: <strong><%= @tag %></strong></p>
<% end %>

<%= paginate @notes, :theme => 'twitter-bootstrap-3',
    :pagination_class => "pagination pagination-sm" %>

<div class="container-fluid">
	<% @notes.each do |note| %>
	    <%= render 'note_summary', note: note %>
	<% end %>
</div>

<%= paginate @notes, :theme => 'twitter-bootstrap-3',
:pagination_class => "pagination pagination-sm" %>


<br>

<%= link_to 'New Note', new_note_path %>
