<div class="row" id="workspace_header">
	<div class="col-sm-8" id="workspace_title">
		<h1><%= @note.title %></h1>
	  <p id="workspace_header_summary"><%= @note.summary %></p>
	</div>
	<div class="col-sm-4" id="workspace_header_infos">
	  <p>
	    Created on <%= @note.created_at.localtime.strftime("%A, %b %d, %Y at %H:%M") %><br>
	    Last updated on <%= @note.updated_at.localtime.strftime("%A, %b %d, %Y at %H:%M") %><br>
	    <a href="#">See the history</a>
	  </p>
	  <p>
	    <%= sanitize @note.tag_list.map { |t| link_to t, tag_path(t) }.join(', '), tags: %w(a), attributes: %w(href ) %>
	  </p>
	</div>
</div>



<div class="row" id="workspace_menu">
	<div class="col-sm-8" id="workspace_menu_main">
	  <a href="#">2 files</a>
	  <%= render "to_dos/n_to_dos", :note => @note %>
	  Add new: 
	  <a href="#">Document or file</a>
	  <a href="#">Task</a> 
	</div>
	<div class="col-sm-4 menu_edit" id="workspace_menu_context">
	  This note: 
	  <%= link_to 'Edit', edit_note_path(@note) %>
	  <a href="#">Copy</a> 
	  <%= link_to 'Delete', @note, method: :delete, data: { confirm: 'Are you sure?' } %>               
	</div>
</div>

<div class="row" id="workspace_content">
  <div class="col-sm-8 note_text">
    <%= sanitize @note.text,
    		tags: %w(h2 h3 h4 h5 p br ul ol li strong em u a hr blockquote img),
    		attributes: %w(href src alt) %>
  </div>
  <div class="col-sm-4" id="workspace_tools">

	  <h4>Documents and files</h4>
	  <dl>
	    <dt><a href="#">Document 1: Title</a></dt>
	    <dd style="margin-bottom: 10px;">This is a very short text summary of the document.</dd>
	    <dt><a href="#">Document 2: Title</a></dt>
	    <dd>This is a very short text summary of the document.</dd>
	  </dl>
	  <a href="#">Upload a new file</a>

	  <br>
	  <% if @note.has_to_dos? %>
	    <% label =  todo_label @note.to_dos %>
	    <h4 style="margin-top: 30px;">To-Do's
	    <% if label[:number] != 0 %>
	    	<span class="badge progress-bar-<%= label[:label]-%>">
	      <%= label[:number] -%></span>
	    <% end %>
	    </h4>
	    <%= render 'to_dos/todo_list', tasks: @note.to_dos.order(:achieved, deadline: :asc) %>
	  <% end %>
	  <a href="#">Add a new task</a> 

	</div>
</div>
