
<h1 class="document"><%= @document.title %></h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <%= link_to @document.file_url do %>
        <%= image_tag @document.file_url(:cover), class: "cover" if @document.file? %>
      <% end %>
    </div>
    <div class="col-sm-6">
      <p>
        <strong>Summary:</strong>
        <%= @document.summary %>
      </p>
      <p>
        <strong>Author:</strong>
        <%= @document.author %>
      </p>
      <p>
        <strong>Note:</strong>
        <%= @document.note %>
      </p>
      <p>Tags:
          <%= sanitize @document.tag_list.map { |t| link_to t, tag_path(t) }.join(', '), tags: %w(a), attributes: %w(href ) %>
      </p>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
