
<h1 class="todo text-<%= @to_do.label -%>">
  <%= best_in_place @to_do, :title, :inner_class => "form-control" %>
</h1>

<p>
  <%= best_in_place @to_do, :text, as: :textarea, :inner_class => "form-control" %>
</p>

<p>
  <strong>Status:</strong>
  <%= best_in_place @to_do, :status, :place_holder => "Change status" %>
</p>

<p>
  <strong>Tags:</strong>
  <%= best_in_place @to_do, :tag_list, :inner_class => "form-control" %>
</p>


<p>
  <strong>Deadline:</strong>
  <%= best_in_place @to_do, :deadline, as: :datetime %>
</p>

<p>
  <strong>Achieved:</strong>
  <%= best_in_place @to_do, :achieved, as: :checkbox, collection: %w[No Yes] %>
</p>

<p>
  <strong>Displayed:</strong>
  <%= best_in_place @to_do, :displayed, as: :checkbox, collection: %w[No Yes] %>
</p>

<%= link_to 'Edit', edit_to_do_path(@to_do) %> |
<%= link_to 'Back', to_dos_path %>
