
<h1>
  <%= best_in_place @to_do, :title %>
</h1>
<p>
  <%= best_in_place @to_do, :text, as: :textarea %>
</p>
<p>
  <strong>Status:</strong>
  <%= best_in_place @to_do, :status,:place_holder => "Change status" %>
</p>


<p>
  <strong>Deadline:</strong>
  <%= best_in_place @to_do, :deadline %>
</p>

<p>
  <strong>Achieved:</strong>
  <%= best_in_place @to_do, :achieved, as: :checkbox, collection: %w[No Yes] %>
</p>

<p>
  <strong>Displayed:</strong>
  <%= best_in_place @to_do, :displayed, as: :checkbox, collection: %w[No Yes] %>
</p>

<%= link_to 'Edit', edit_to_do_path(@to_do) %> |
<%= link_to 'Back', to_dos_path %>
