<div class="container-fluid">
	<div class="row <%= Rails.env -%>" id="top_bar">
		<div class="col-sm-6" id="top_bar_logo">
			<h1>myNotes <small>with a summary, details, documents and to-do's</small></h1>
		</div>
		<div class="col-sm-6 text-right" id="top_bar_login">
			<h1><small>
				<% if user_signed_in? %>
				  <%=  %>
				  <%= link_to current_user.email, edit_user_registration_path %> |
				  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
				<% else %>
				  <%= link_to "Sign up", new_user_registration_path %> |
				  <%= link_to "Log in", new_user_session_path %>
				<% end %>
			</small></h1>
		</div>
	</div>
</div>

<% if notice.present? %>
	<aside class="alert alert-info"> <%= notice %></aside>
<% end %>
<% if alert.present? %>
	<aside class="alert alert-danger"> <%= alert %></aside>
<% end %>