<!DOCTYPE html>
<html>
  <head>
    <title>MyNotes - <%= yield(:title) || "A tool for the management of notes, documents and to-do's"   %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <%= render "layouts/top_bar" %>

  <% if user_signed_in? %>
    <%= render "layouts/nav_bar" %>
    <div class="container-fluid" id="workspace">
  <% else %>
    <div class="container" id="workspace_login">
  <% end %>
      <%= yield %>
    </div> <!-- /.workspace -->
   

  </body>
</html>
